<%- include('partials/header'); -%>

<H1>Home page</H1>

<p>Welcome

<%- include('partials/header'); -%>

<H1>HPV Vacc rendered as html</H1>

<H2>Patient details</H2>

<table>
  <tr>
    <td>NHS Number</td>
    <td><%= nhsnumber %></td>
  </tr>
  <tr>
    <td>DOB</td>
    <td><%= patDOB1 %></td>
  </tr>
<table>


<H2>Vaccination details</H2>

<% for(var i=0; i < immCounter; i++) { %>
<P> vacc number <%= [i+1] %>
<table>
  <tr>
    <td>vaccineProcedure (SNOMED)</td>
    <td><%= vaccineProcedureCode[i] %></td>
  </tr>
  <tr>
    <td>vaccineProcedure (display)</td>
    <td><%= vaccineProcedureDisplay[i] %></td>
  </tr>
  <tr>
  <tr>
    <td>vaccineCode (SNOMED)</td>
    <td><%= vaccineCodeSNOMED[i] %></td>
  </tr>
  <tr>
    <td>vaccineCode (Display)</td>
    <td><%= vaccineCodeDisplay[i] %></td>
  </tr>
<table>
<% } %>

<%- include('partials/footer'); -%>